{% extends 'base.html' %}

{% block hero-header-class %}hero-header-aboutus{% endblock %}
{% block page-name %}Blog{% endblock %}
{% block view-more %}active{% endblock %}

{% load static %}
<!-- {% static 'base/' %} -->
{% block content %}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                {% if post.header_image %}
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{{post.header_image.url}}" alt="" style="object-fit: cover;">
                </div>
                {% endif %}
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="mb-4">{{ post.title }}</h1>
                <div class="post-content">
                    {{post.body1|safe}}
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div class="container-xxl py-5">
    <div class="container">
        
        <div class="post-content">
            {{post.body2|safe}}
        </div>

    </div>
</div>

{% endblock %}