{% extends 'base.html' %}

{% block hero-header-class %}hero-header-blog{% endblock %}
{% block page-header %}The Alamaya Blog{% endblock %}
{% block page-name %}Blog{% endblock %}
{% block view-more %}active{% endblock %}

{% load static %}
<!-- {% static 'base/' %} -->
{% block content %}
 <!-- Team Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Alamaya Adventure Blogs</h6>
            <h1 class="mb-5">Get informed reading our blogs</h1>
        </div>
        <div class="row g-4">
            {% for post in object_list %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <a href="{% url 'article_detail' post.pk %}">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            {% if post.snippet_image %}
                                <img class="img-fluid" src="{{post.snippet_image.url}}" alt="">
                            {% endif %}
                        </div>
                        <!-- <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div> -->
                        <div class="text-center p-4">
                            <h5 class="mb-0">{{post.title}}</h5>
                            <small>{{ post.post_date}}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->


<!-- make FAQ -->
{% endblock %}