{% extends 'base.html' %}

{% block hero-header-class %}hero-header-booking{% endblock %}
{% block page-header %}Book With Us{% endblock %}
{% block page-name %}Booking{% endblock %}

{% load static %}
<!-- {% static 'base/' %} -->
{% block content %}
<!-- Process Start -->
<!-- Process Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Booking Process</h6>
            <h1 class="mb-5">3 Easy Steps</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                        style="width: 100px; height: 100px;">
                        <i class="fa fa-globe fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Choose A Destination</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Decide to visit a destination and we will help your make beatiful memories.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                        style="width: 100px; height: 100px;">
                        <i class="fa fa-dollar-sign fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Book Trip</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">We will process your booking and get back to your immediately.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                        style="width: 100px; height: 100px;">
                        <i class="fa fa-plane fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Enjoy your Vacay</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Visit your destination and enjoy the beatiful attractions</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Process Start -->


<!-- Booking Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="booking p-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-6 text-white">
                    <h6 class="text-white text-uppercase">Booking</h6>
                    <h1 class="text-white mb-4">Online Booking</h1>
                    <p class="mb-4">Immerse yourself in the magic of our safari experience as you witness captivating
                        wildlife, breathtaking landscapes, and unforgettable moments in nature's embrace. </p>
                    <p class="mb-4">From the graceful movements of elephants to the majestic presence of lions, every
                        scene unfolds with awe-inspiring beauty, creating memories that will last a lifetime.</p>
                    <!-- <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a> -->
                </div>
                <div class="col-md-6">
                    <h1 class="text-white mb-4">Book A Tour</h1>
                    <form id="booking" action="{% url 'booking' %}" method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="booking_notif" style="display: none; justify-content: center; color: red ;">
                                fill all fields
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.name }}
                                    <!-- <input type="text" style="color: white;" class="form-control bg-transparent" id="name" name="name" placeholder="Your Name"> -->
                                    <label for="name">Your Name</label>
                                    <p class="booking_notif" id="nameNotif"
                                        style=" justify-content: center; color: red ;">

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">

                                    {{ form.email }}
                                    <!-- <input type="email" style="color: white;" class="form-control bg-transparent" id="email" name="email" placeholder="Your Email"> -->
                                    <label for="email">Your Email</label>
                                    <p class="booking_notif" id="emailNotif"
                                        style=" justify-content: center; color: red ;">

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.phone_no }}
                                    <!-- <input type="text" style="color: white;" class="form-control bg-transparent"
                                        id="phoneno" name="phone_no" placeholder="Your Phone Number">
                                    <label for="phoneno">Your Phone Number</label> -->
                                    <p class="booking_notif" id="phoneNotif"
                                        style=" justify-content: center; color: red ;">

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.number_of_guests }}
                                    <!-- <input type="number" style="color: white;" class="form-control bg-transparent"
                                        id="number-of-guests" name="number-of-guests" placeholder="Number of Guests"
                                        min="0" max="14" value="1"> -->
                                    <label for="number-of-guests">Number of Guests</label>
                                    <p class="booking_notif" id="guestNoNotif"
                                        style=" justify-content: center; color: red ;">

                                    </p>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    {{ form.destination }}
                                    <!-- <select class="form-select custom-select" id="select1" name="destination"
                                        onchange="updateSelectColor(this)">
                                        {% if destination %}
                                        <option value="{{ destination }}">{{ destination }}</option>
                                        {% endif %}
                                        <option value="">Select a destination</option>
                                        <option value="1">Maasai Mara</option>
                                        <option value="2">Tsavo</option>
                                        <option value="3">Olpejeta</option>
                                        <option value="4">Samburu</option>
                                        <option value="5">Amboseli</option>
                                        <option value="6">Diani</option>
                                        <option value="7">Lake Naivasha</option>
                                        <option value="8">Kakamega Forest</option>
                                        <option value="9">Nkare Ntare</option>
                                        <option value="10">Mt. Kenya</option>
                                        <option value="11">Chalbi Desert</option>
                                    </select> -->
                                    <label for="select1">Destination</label>
                                    <p class="booking_notif" id="destinationNotif"
                                        style=" justify-content: center; color: red ;">

                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating date" id="dateFrom" data-target-input="nearest">
                                    {{ form.datetime_from }}
                                    <!-- <input type="text" style="color: white;"
                                        class="form-control bg-transparent datetimepicker-input" id="datetime"
                                        name="datetime" placeholder="Date From:" data-target="#dateFrom"
                                        data-toggle="datetimepicker" /> -->
                                    <label for="datetime">Date From:</label>
                                    <p class="booking_notif" id="dateFromNotif"
                                        style=" justify-content: center; color: red ;">

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="dateTo" data-target-input="nearest">
                                    {{ form.datetime_to }}
                                    <!-- <input type="text" style="color: white;"
                                        class="form-control bg-transparent datetimepicker-input" id="datetime1"
                                        name="datetime1" placeholder="Date To:" data-target="#dateTo"
                                        data-toggle="datetimepicker" /> -->
                                    <label for="datetime1">Date To:</label>
                                    <p class="booking_notif" id="dateToNotif"
                                        style=" justify-content: center; color: red ;">

                                    </p>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    {{ form.special_request }}
                                    <!-- <textarea style="color: white;" class="form-control bg-transparent"
                                        placeholder="Special Request" id="message" name="message"
                                        style="height: 100px"></textarea> -->
                                    <label for="message">Special Request</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                {{ form.captcha}}
                                {% for error in form.captcha.errors %}
                                    <p style=" justify-content: center; color: red ;">{{error}}</p>
                                {% endfor %}
                                
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-light w-100 py-3" id="form-submit" type="submit">Book
                                    Now</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}