{% extends 'base.html' %}

{% block hero-header-class %}hero-header-contact{% endblock %}
{% block page-header %}Contact Us{% endblock %}
{% block page-name %}Contact Us{% endblock %}

{% load static %}
<!-- {% static 'base/' %} -->
{% block content %}
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
            <h1 class="mb-5">Contact For Any Query</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Get In Touch</h5>
                <p class="mb-4">We are quick to reply your messages.</p>
                <div class="d-flex align-items-center mb-4">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Office</h5>
                        <p class="mb-0">Lanet-Nakuru, Kenya</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Mobile</h5>
                        <p class="mb-0"><a href="tel:+254790803673" style="color: #808B8D;">+254790 803 673</a></p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Email</h5>
                        <p class="mb-0"><a href="mailto:info@alamayaadventureslimited.com" style="color: #808B8D;">info@alamayaadventures.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                
                <iframe class="position-relative rounded w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d127672.24677929207!2d36.0788604!3d-0.3158118!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f239a242a90d33%3A0x91aeba32cde3d176!2sAlamaya%20Adventures%20Limited!5e0!3m2!1sen!2ske!4v1691852195801!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                    frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe> -->
            </div>
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form id="contact" action="{% url 'contact-us' %}" method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="booking_notif"  style="display: none; justify-content: center; color: red ;" >
                                fill all fields
                            </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.name }}
                                <!-- <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"> -->
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.email }}
                                <!-- <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"> -->
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form.subject }}
                                <!-- <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"> -->
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form.message }}
                                
                                <!-- <textarea class="form-control" placeholder="Leave a message here" id="message" name="message" style="height: 100px"></textarea> -->
                                <label for="message">Message</label>
                                <br>

                                {{ form.captcha}}
                                {% for error in form.captcha.errors %}
                                    <p>{{error}}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form id="contact" action="{% url 'contact-us' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                    </div>
                </form>
                {% if success_message %}
                <div class="alert alert-success mt-3" role="alert">
                    {{ success_message }}
                </div>
                {% endif %}
            </div> -->
            
        
        </div>
    </div>
</div>
<!-- Contact End -->


{% endblock %}