{% extends 'base.html' %}

{% block hero-header-class %}hero-header-packages{% endblock %}
{% block page-header %}Packages{% endblock %}


{% load static %}
<!-- {% static 'base/' %} -->
{% block content %}

   <!-- Package Start -->
   <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
            <h1 class="mb-5">Choose a package</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'base/img/packages/river_mara.png' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <!-- <small class="flex-fill text-center border-end py-2">Ksh 15,900.00</small> -->
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days 2 nights</small>
                        <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small> -->
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">3 Days 2 Night in Maasai Mara</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Experience the breathtaking beauty of Maasai Mara with our immersive 3-day, 2-night package, where adventure meets the wild.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="{% url 'package_1_maasaimara' %}" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="{% url 'booking' %}?destination=3 Days 2 Night in Maasai Mara" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'base/img/packages/hidden_gems.png' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <!-- <small class="flex-fill text-center border-end py-2">Ksh 15,900.00</small> -->
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>6 days</small>
                        <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small> -->
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">6-Day Tour of Kenya's Hidden Gems</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Embark on a captivating 6-day journey through Kenya's hidden gems, discovering its rich diversity and natural wonders.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="{% url 'package_2_hidden_gems' %}" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="{% url 'booking' %}?destination=6-Day Tour of Kenya's Hidden Gems" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'base/img/packages/beach.png' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <!-- <small class="flex-fill text-center border-end py-2">Ksh 18,900.00</small> -->
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>13 days</small>
                        <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small> -->
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">13-Day Magical Kenya Safari</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Immerse yourself in the enchanting allure of Kenya with our 3-day magical safari, a perfect blend of wildlife and natural splendor.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="{% url 'package_3_magical_kenya' %}" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="{% url 'booking' %}?destination=13-Day Magical Kenya Safari" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!--<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
            <!--    <div class="package-item">-->
            <!--        <div class="overflow-hidden">-->
            <!--            <img class="img-fluid" src="{% static 'base/img/packages/cheetah.png' %}" alt="">-->
            <!--        </div>-->
            <!--        <div class="d-flex border-bottom">-->
            <!--            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days 2 nights</small>-->
            <!--            <small class="flex-fill text-center py-2"><i class="fa fa-dollar text-primary me-2"></i>2 persons, Ksh 34,000 per p.s</small>-->
            <!--        </div>-->
            <!--        <div class="text-center p-4">-->
            <!--            <h3 class="mb-0">Budget Camp</h3>-->
            <!--            <div class="mb-3">-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--            </div>-->
            <!--            <p>Discover the essence of adventure while embracing affordability with our Budget Camp package, a gateway to Kenya's remarkable landscapes.</p>-->
            <!--            <div class="d-flex justify-content-center mb-2">-->
            <!--                <a href="{% url 'package_4_budget_camp' %}" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>-->
            <!--                <a href="{% url 'booking' %}?destination=Budget Camp" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">-->
            <!--    <div class="package-item">-->
            <!--        <div class="overflow-hidden">-->
            <!--            <img class="img-fluid" src="{% static 'base/img/packages/crocodile_mara.png' %}" alt="">-->
            <!--        </div>-->
            <!--        <div class="d-flex border-bottom">-->
            <!--            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days 2 nights</small>-->
            <!--            <small class="flex-fill text-center py-2"><i class="fa fa-dollar text-primary me-2"></i>7 persons, Ksh 17,000 per p.s</small>-->
            <!--        </div>-->
            <!--        <div class="text-center p-4">-->
            <!--            <h3 class="mb-0">Mid-range Camp</h3>-->
            <!--            <div class="mb-3">-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--                <small class="fa fa-star text-primary"></small>-->
            <!--            </div>-->
            <!--            <p>Indulge in comfort and authenticity with our Mid-range Camp package, where luxury meets the heart of the wilderness for an unforgettable Kenyan experience</p>-->
            <!--            <div class="d-flex justify-content-center mb-2">-->
            <!--                <a href="{% url 'package_5_mid_range' %}" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>-->
            <!--                <a href="{% url 'booking' %}?destination=Mid-range Camp" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            
            
        </div>
    </div>
</div>
<!-- Package End -->


{% endblock %}