{% extends 'base.html' %}
{% load static %}

{% block hero-header-class %}hero-header-packages{% endblock %}
{% block page-header %}Mid-range Camp{% endblock %}
{% block package-name %}Mid-range Camp{% endblock %}
{% block activate-package %}active{% endblock %}


<!-- {% static 'base/' %} -->

{% block content %}
            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    
                    <div class="row g-5">
                       
                        <div class="wow fadeInUp d-flex flex-column justify-content-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Brief Introduction</h6> -->
                            <h1 class="mb-4 text-center">Brief <span class="text-primary ">Introduction</span></h1>

                            <h5 class="mb-4 text-center">7 persons, Ksh 17,000 per person sharing</h5>
                            <p class="mb-4"> Located in southwest Kenya adjacent to the vast Serengeti National Park, Maasai Mara Game Reserve is one of Africa's best wildlife santuaries.</p>
                            <p class="mb-4">The reserve is famous for the greatest wildebeest migration, the eighth wonder of the world, which happens in July to October each year.</p>
                            <p class="mb-4">Maasai Mara is home to many wildlife species including the big five(lion, buffalo, elephant, rhino, and leopard), as well as many unique bird species</p>
                            
                            <!-- <div class="row gy-2 gx-4 mb-4">
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Safari vacations</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Premium City Tours</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                                </div> 

                                
                            </div> -->






                            <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'booking' %}?destination={{dest.thedestination}}">Book</a> -->
                            
                        </div>
                        <br/><br/><br/>
                        
                    </div>
                    
                </div>
            </div>

            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h1 class="mb-4">Alamaya<span class="text-primary"> Adventures</span></h1> -->
                            <h1 class="mb-4">Package<span class="text-primary"> Details</span></h1>
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 1</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/budget_camp.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Accomodation on budget camp, meals on full board, plus water while on vehicle.</li>
                                    <li class="mb-4 text-start">Transport from your hotel to Maasai Mara & back</li>
                                    <li class="mb-4 text-start">Game drives.</li>
                                    <li class="mb-4 text-start">Anything else not mentioned above and the following are not included. VISA, Park entry fee, International flights, Local flights, soft drinks,personal effects, insurance/medical cover.</li>

                                    <li class="mb-4 text-start">During high peak season period eg Christmas, Easter holiday , this rates may differ slightly</li>
                                </ul>
                                <br>
                                <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'booking' %}?destination=Mid-range Camp">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            

                    
            


{% endblock %}