{% extends 'base.html' %}
{% load static %}

{% block hero-header-class %}hero-header-packages{% endblock %}
{% block page-header %}13-Day Magical Kenya Safari{% endblock %}
{% block package-name %}13-Day Magical Kenya Safari{% endblock %}
{% block activate-package %}active{% endblock %}


<!-- {% static 'base/' %} -->

{% block content %}
            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    
                    <div class="row g-5">
                        
                        <div class="wow fadeInUp d-flex flex-column justify-content-center " data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Brief Introduction</h6> -->
                            <h1 class="mb-4 text-center">Brief <span class="text-primary">Introduction</span></h1>
                            <p class="mb-4">Start with a thrilling hot air balloon ride in the Maasai Mara, if you please, and be a guest to Nakuru's pink flamingo land.</p>
                            <p class="mb-4">This trip blows the essence of natural beaty right through your soul with breathtaking views of Lake Bogoria and Lake Naivasha.</p>
                            <p class="mb-4">Visits to the Giraffe Centre and Elephant Orphanage allow you to appreaciate nature's beauty from a close view, while Amboseli park's elephant herds and Mt. Kilimanjaro pose for your excited camera.</p>
                            <p class="mb-4">Save your goosebumps for Tsavo West's "Shetani" lava flows and Chyulu Hills, and then drop your safari haste by a relaxing poolside at coast(Diani)</p>
                            
                            <!-- <div class="row gy-2 gx-4 mb-4">
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Safari vacations</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Premium City Tours</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                                </div> 

                                
                            </div> -->






                            <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'booking' %}?destination={{dest.thedestination}}">Book</a> -->
                            
                        </div>
                        <br/><br/><br/>
                        
                    </div>
                    
                </div>
            </div>

            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h1 class="mb-4">Alamaya<span class="text-primary"> Adventures</span></h1> -->
                            <h1 class="mb-4">Package<span class="text-primary"> Details</span></h1>
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 1</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day1.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">You will be picked by our driver/guide from the airport for a road trip to the Maasai Mara - arriving just in time for lunch.</li>
                                    <li class="mb-4 text-start">This will be followed by an afternoon game drive at 4 O'clock lasting for 2 hours.</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meals: Lunch & Dinner</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 2</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day2.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">You will get up early for a balloon ride followed by bush breakfast.</li>
                                    <li class="mb-4 text-start">Thereafter, followed by a short game drive while on your way back to the lodge/camp to rest(balloon safari is optional)</li>
                                    <li class="mb-4 text-start">Lunch to be served at the lodge/camp</li>
                                    <li class="mb-4 text-start">Enjoy the afternoon at the Maasai Village, before going back for evening safari.</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meals: Breakfast, Lunch & Dinner</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day3.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Take your breakfast and then depart for a full day game drive till 4pm.</li>
                                    <li class="mb-4 text-start">There will be a lunch break in the course of the day.</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel.</li>
                                    <li class="mb-4 text-start">Meals: Breakfast, Lunch & Dinner.</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day4.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Take your breakfast at the lodge then depart for Lake Nakuru, where you will arrive just in time for lunch.</li>
                                    <li class="mb-4 text-start">You will have a short game drive as you head to the camp for lunch.</li>
                                    <li class="mb-4 text-start">Afternoon game drive is scheduled at 4pm.</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel.</li>
                                    <li class="mb-4 text-start">Meals: Breakfast, Lunch & Dinner.</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day5.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">After breakfast, you will depart for Lake Bogoria, stop over at the equator lunch at the lodge.</li>
                                    <li class="mb-4 text-start">Later proceed for a nature walk on the banls of Lake Bogoria to enjoy the Flamboyance of flamingoes at the shores.</li>
                                    <li class="mb-4 text-start">Dinner & Overnight at the lodge.</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day6.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Lake Bogoria & Lake Naivasha.</li>
                                    <li class="mb-4 text-start">After breakfast you will depart to Lake Naivasha, arriving at lunch hour.</li>
                                    <li class="mb-4 text-start">If weather permits you will enjoy about ride/cycling at hell's gate National Park</li>
                                    <li class="mb-4 text-start">Overnight at selected camp/lodge/hotel</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day7.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Take an early breakfast at the lodge and head to Nairobi Giraffe Centre.</li>
                                    <li class="mb-4 text-start">You will carry packed lunch on this day.</li>
                                    <li class="mb-4 text-start">You will then proceed to Amboseli, where you will arrive in the evening.</li>
                                    <li class="mb-4 text-start">If time allows, you will take a game drive before checking in at the camp for dinner and overnight stay.</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meals: Breakfast, Lunch & Dinner.</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day8.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">This day will include morning and afternoon game drives with a break at the camp for lunch.</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meals: Breakfast, Lunch & Dinner.</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day9.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Depart for Tsavo West after breakfast.</li>
                                    <li class="mb-4 text-start">Arrive before lunch and have a game drive as you head to the camp for lunch.</li>
                                    <li class="mb-4 text-start">In the afternoon visit Mzima springs where you may view the crocodiles and hippos</li>
                                    <li class="mb-4 text-start">Swimming under water with a choice of picnic or buffet lunch.</li>
                                    <li class="mb-4 text-start">You will also be driven to the "Shetani" lava flows and have a view of Chyulu Hills too.</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meals: Breakfast, Lunch & Dinner.</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day10.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Take breakfast and then enjoy another game drive till mid-morning when you will depart for Mombasa.</li>
                                    <li class="mb-4 text-start">You will carry packed lunch this day.</li>
                                    <li class="mb-4 text-start">Meals: Breakfast & Lunch</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meal Plan: Half Board basis</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day11-12.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Leisure activities</li>
                                    <li class="mb-4 text-start">Overnight: selected camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meal Plan: Half Board basis</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/magical_kenya_day13.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">You will be transferred to the train station at 07:30 am for your train to Nairobi.</li>
                                    <li class="mb-4 text-start">Upon arrival, you will connect with your outbound flight.</li>
                                    <li class="mb-4 text-start">Meal Plan: Half Board basis</li>
                                    
                                </ul>
                                <br>
                                <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'booking' %}?destination=13-Day Magical Kenya Safari">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            

                    
            

                    
            


{% endblock %}