{% extends 'base.html' %}
{% load static %}

{% block hero-header-class %}hero-header-packages{% endblock %}
{% block page-header %}6-Day Tour of Kenya's Hidden Gems{% endblock %}
{% block package-name %}6-Day Tour of Kenya's Hidden Gems{% endblock %}
{% block activate-package %}active{% endblock %}


<!-- {% static 'base/' %} -->

{% block content %}
            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    
                    <div class="row g-5">
                        
                        <div class="wow fadeInUp  justify-content-center text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Brief Introduction</h6> -->
                            <h1 class="mb-4">Brief <span class="text-primary">Introduction</span></h1>
                            <p class="mb-4"> Embark on a great safari, covering Samburu, Sweetwaters, Aberdares, and Lake Nakuru.</p>
                            <p class="mb-4">Witness the unique Reticulated giraffes, Grevy's Zebras, Beisa Oryx's and Blue-legged Somali Ostriches in Samburu, and the Rothchild's giraffe, black rhino, lion, leopard, cheetah, elephant, and hippos in Sweetwaters Wildlife Sanctuary.</p>
                            <p class="mb-4">Thereafter, head to the aberdares for thrilling game drive before proceeding to the Rift Valley for a day of fun at the Lake Nakuru National Park.</p>
                            
                            <!-- <div class="row gy-2 gx-4 mb-4">
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Safari vacations</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Premium City Tours</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                                </div> 

                                
                            </div> -->






                            <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'booking' %}?destination={{dest.thedestination}}">Book</a> -->
                            
                        </div>
                        <br/><br/><br/>
                        
                    </div>
                    
                </div>
            </div>

            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h1 class="mb-4">Alamaya<span class="text-primary"> Adventures</span></h1> -->
                            <h1 class="mb-4">Package<span class="text-primary"> Details</span></h1>
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 1</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/gem_day1.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">You will be picked from your hotel/JKIA by our driver/guide for a good trip to Sambru, passing through the equator line to the Samburu land.</li>
                                    <li class="mb-4 text-start">Upon arrival, you will enjoy a short game drive en route to the camp for lunch which will be followed by some relaxation as you wait for the 4pm game drive</li>
                                    <li class="mb-4 text-start">Some of the creatures you should expect to see include the Reticulated Giraffe, Grevy's Zebra, Beisa Oryx and the Blue-legged Somali Ostrich</li>
                                    <li class="mb-4 text-start">Overnight: camp/lodge/hotel.</li>
                                    <li class="mb-4 text-start">Breakfast, Lunch & Dinner</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 2</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/gem_day2.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">You will enjoy morning and afternoon game drives in search of unique Northern Kenya species such as the Reticulated giraffe, Beisa oryx, Grevy,s zebra, and the long-necked gerenuk.</li>
                                    <li class="mb-4 text-start">Much of the reserve consists of desert landscape; dusty red plains broken by thorny scrub, featuring dramatic views of table top Mt Olokwe on the horizon</li>
                                    <li class="mb-4 text-start">All meals will be taken at the camp</li>
                                    <li class="mb-4 text-start">Overnight: camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meals: Breakfast, Lunch & Dinner</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/gem_day3.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Depart Samburu after breakfast arriving in time for lunch at the Sweetwaters Wildlife Sanctuary.</li>
                                    <li class="mb-4 text-start">This is a beatiful private game reserve and home to rare species such as white rhino, zebras, reticulated giraffe and black rhinos as well as the famous Baraka rhino. Other animals found here include lion, leopard, cheetah, elephant and hippo.</li>
                                    <li class="mb-4 text-start">Observe chimps at the Chimpanzee Sanctuary as well.</li>
                                    <li class="mb-4 text-start">Optional: optional, liontracking, night game drive, guided bush walk</li>
                                    <li class="mb-4 text-start">Overnight: camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Meals: Breakfast, Lunch & Dinner</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/gem_day4.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Take breakfast and immediately depart for the Aberdare to arrive at lunch time</li>
                                    <li class="mb-4 text-start">Later, enjoy game drive, dinner at the lodge The Ark Lodge.</li>
                                    <li class="mb-4 text-start">At the lodge you will enjoy game viewing at a deck overlooking a waterhole.</li>
                                    <li class="mb-4 text-start">Overnight: camp/lodge/hotel</li>
                                    <li class="mb-4 text-start">Breakfast, Lunch & Dinner</li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/gem_day5.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">Take breakfast and then depart for Lake Nakuru arriving before lunch time.</li>
                                    <li class="mb-4 text-start">Later, you will go on an afternoon game drive to see one of the largest orthilogical spots, flamingo, and a variety of wildlife not forgetting the famous white rhino and black rhino found in this park.</li>
                                    <li class="mb-4 text-start">Overnight: at the selected camp/lodge/hotel</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp text-center" data-wow-delay="0.3s">
                            <!-- <h6 class="section-title bg-white text-start text-primary pe-3">Day 3</h6> -->

                            <div >
                                <br>
                                <img  src="{% static 'base/img/gem_day6.png' %}" alt="" style="object-fit: cover;">
                                
                            </div>
                            <br><br>
                            <div style="max-width: 600px; margin: 0 auto;">
                                <ul>
                                    <li class="mb-4 text-start">The day will start with an early morning game drive. You will then return to the hotel for breakfast.</li>
                                    <li class="mb-4 text-start">Thereafter, you will go for a mid-morning game drive before heading back to Nairobi.</li>
                                    <li class="mb-4 text-start">Drop off at the JKIA/hotel for the next destination connection.</li>
                                </ul><br>
                                <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'booking' %}?destination=6-Day Tour of Kenya's Hidden Gems">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                    
            

                    
            


{% endblock %}